////////////////////////////////////////////////////////////////////////////////
// DO NOT REMOVE THIS
#include "qipTPL\Config\description.hpp"
////////////////////////////////////////////////////////////////////////////////
// EDIT BELOW THIS

/**********  Mission Information **********/
author = "[qip] NemesisRE";
briefingName = "Mission Selection Name"; // Missionselection Screen
overviewText = "Mission Template for Zeus Missions"; // Heading on the loadscreen
onLoadName = "[qip] Mission Template"; // Caption on the loadscreen
onLoadMission = "quies in proelium";
loadScreen =  "\z\qipTPL\addons\assets\Images\qip_flag.paa"; // Picture on the loadscreen
// loadScreen = MISSION_ROOT + "qipTPL\Images\loadScrenPicture.png"

/**********  Mission type settings **********/
class Header {
	gameType = Zeus; // https://community.bistudio.com/wiki/Multiplayer_Game_Types
	minPlayers = 1;
	maxPlayers = 100;
};
