author = "[qip] NemesisRE";
overviewText = "Mission Template for Zeus Missions";
onLoadName = "[qip] Mission Template";
//loadScreen =  "qipTPL\Images\qip_flag.paa";

/**********  Mission type settings **********/
class Header {
	gameType = ZGM;
	minPlayers = 1;
	maxPlayers = 100;
};

// MUST BE IN HERE
#include "qipTPL\Config\description.hpp"
