version=12;
class Mission
{
	addOns[]=
	{
		"A3_Data_F_Curator_Virtual",
		"A3_Modules_F_Curator_Curator",
		"A3_Characters_F_BLUFOR",
		"a3_characters_f",
		"a3_map_altis",
		"A3_Structures_F_Civ_Camping",
		"A3_Characters_F_OPFOR",
		"A3_Characters_F_INDEP",
		"A3_Characters_F_Civil",
		"A3_Air_F_EPC_Plane_CAS_01",
		"A3_Air_F_Heli_Light_01",
		"A3_Air_F_Beta_Heli_Transport_01",
		"A3_Air_F_EPC_Plane_CAS_02",
		"A3_Air_F_Gamma_Plane_Fighter_03",
		"A3_Air_F_EPB_Heli_Light_03",
		"A3_Air_F_Heli_Heli_Light_02",
		"a3_air_f_heli_light_02",
		"A3_Air_F_Heli_Heli_Light_01",
		"A3_Soft_F_HEMTT",
		"A3_Soft_F_TruckHeavy",
		"A3_Soft_F_EPC_Truck_03",
		"A3_Structures_F_Furniture",
		"A3_Structures_F_Heli_Civ_Market",
		"A3_Data_F_Curator_Characters",
		"A3_Structures_F_EPA_Mil_Scrapyard"
	};
	addOnsAuto[]=
	{
		"A3_Data_F_Curator_Virtual",
		"a3_modules_f_curator_curator",
		"A3_Characters_F_BLUFOR",
		"a3_characters_f",
		"A3_Characters_F_OPFOR",
		"A3_Characters_F_INDEP",
		"A3_Characters_F_Civil",
		"A3_Data_F_Curator_Characters",
		"A3_Structures_F_Civ_Camping",
		"A3_Air_F_EPC_Plane_CAS_01",
		"A3_Air_F_Heli_Light_01",
		"A3_Air_F_Beta_Heli_Transport_01",
		"A3_Air_F_EPC_Plane_CAS_02",
		"A3_Air_F_Gamma_Plane_Fighter_03",
		"A3_Air_F_EPB_Heli_Light_03",
		"A3_Air_F_Heli_Heli_Light_02",
		"a3_air_f_heli_light_02",
		"A3_Air_F_Heli_Heli_Light_01",
		"A3_Soft_F_HEMTT",
		"A3_Soft_F_TruckHeavy",
		"A3_Soft_F_EPC_Truck_03",
		"A3_Structures_F_EPA_Mil_Scrapyard",
		"a3_map_altis"
	};
	randomSeed=12066260;
	class Intel
	{
		briefingName="[qip] Mission Template";
		overviewText="by NemesisRE";
		startWeather=0.099999994;
		startWind=0.099999994;
		startWaves=0.099999994;
		forecastWeather=0.099999994;
		forecastFog=0.19999999;
		forecastWind=0.099999994;
		forecastWaves=0.099999994;
		forecastLightnings=0.099999994;
		year=2035;
		month=7;
		hour=12;
		minute=0;
		startFogBase=0.001;
		forecastFogBase=0.001;
		startFogDecay=0.0049999999;
		forecastFogDecay=0.0049999999;
	};
	class Groups
	{
		items=18;
		class Item0
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14631.122,17.91,16758.402};
					azimut=310.45801;
					special="NONE";
					id=0;
					side="LOGIC";
					vehicle="VirtualCurator_F";
					player="PLAY CDG";
					leader=1;
					skill=1;
					text="Zeus1";
					description="Zeus 1";
				};
			};
		};
		class Item1
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14632.088,17.91,16759.445};
					azimut=320;
					special="NONE";
					id=1;
					side="LOGIC";
					vehicle="VirtualCurator_F";
					player="PLAY CDG";
					leader=1;
					skill=1;
					text="Zeus2";
					description="Zeus 2";
				};
			};
		};
		class Item2
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14633.104,17.91,16760.387};
					class args
					{
						items=4;
						class Item0
						{
							value="Zeus2";
							parentCls="ModuleCurator_F";
							typeName="Owner";
						};
						class Item1
						{
							value="";
							parentCls="ModuleCurator_F";
							typeName="Name";
						};
						class Item2
						{
							value="3";
							parentCls="ModuleCurator_F";
							typeName="Addons";
						};
						class Item3
						{
							value="0";
							parentCls="ModuleCurator_F";
							typeName="Forced";
						};
					};
					id=2;
					side="LOGIC";
					vehicle="ModuleCurator_F";
					leader=1;
					lock="UNLOCKED";
					skill=0.60000002;
				};
			};
		};
		class Item3
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14630.191,17.91,16757.475};
					class args
					{
						items=4;
						class Item0
						{
							value="Zeus1";
							parentCls="ModuleCurator_F";
							typeName="Owner";
						};
						class Item1
						{
							value="";
							parentCls="ModuleCurator_F";
							typeName="Name";
						};
						class Item2
						{
							value="3";
							parentCls="ModuleCurator_F";
							typeName="Addons";
						};
						class Item3
						{
							value="1";
							parentCls="ModuleCurator_F";
							typeName="Forced";
						};
					};
					id=3;
					side="LOGIC";
					vehicle="ModuleCurator_F";
					leader=1;
					lock="UNLOCKED";
					skill=0.60000002;
				};
			};
		};
		class Item4
		{
			side="WEST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14623.709,17.91,16760.631};
					azimut=140.242;
					id=4;
					side="WEST";
					vehicle="B_Soldier_TL_F";
					player="PLAYER COMMANDER";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
					text="test_1";
				};
				class Item1
				{
					position[]={14626.328,17.91,16763.52};
					azimut=137.45799;
					id=5;
					side="WEST";
					vehicle="B_soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14624.585,17.91,16761.588};
					azimut=134.698;
					id=6;
					side="WEST";
					vehicle="B_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
					text="test_2";
				};
				class Item3
				{
					position[]={14625.444,17.91,16762.633};
					azimut=-219.041;
					id=7;
					side="WEST";
					vehicle="B_soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item5
		{
			side="WEST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14622.749,17.91,16761.559};
					azimut=140.242;
					id=8;
					side="WEST";
					vehicle="B_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14625.368,17.91,16764.447};
					azimut=137.45799;
					id=9;
					side="WEST";
					vehicle="B_soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14623.625,17.91,16762.516};
					azimut=134.698;
					id=10;
					side="WEST";
					vehicle="B_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14624.484,17.91,16763.561};
					azimut=-219.041;
					id=11;
					side="WEST";
					vehicle="B_soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item6
		{
			side="EAST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14626.349,17.91,16765.492};
					azimut=140.39799;
					id=12;
					side="EAST";
					vehicle="O_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14628.918,17.91,16768};
					azimut=132.22099;
					id=13;
					side="EAST";
					vehicle="O_Soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14627.252,17.91,16766.338};
					azimut=134.562;
					id=14;
					side="EAST";
					vehicle="O_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14628.101,17.91,16767.189};
					azimut=133.134;
					id=15;
					side="EAST";
					vehicle="O_Soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item7
		{
			side="EAST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14627.271,17.91,16764.48};
					azimut=140.39799;
					id=16;
					side="EAST";
					vehicle="O_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14629.841,17.91,16766.988};
					azimut=132.22099;
					id=17;
					side="EAST";
					vehicle="O_Soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14628.175,17.91,16765.326};
					azimut=134.562;
					id=18;
					side="EAST";
					vehicle="O_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14629.023,17.91,16766.178};
					azimut=133.134;
					id=19;
					side="EAST";
					vehicle="O_Soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item8
		{
			side="GUER";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14621.453,17.91,16762.695};
					azimut=143.119;
					id=20;
					side="GUER";
					vehicle="I_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14624.403,17.91,16765.695};
					azimut=138.222;
					id=21;
					side="GUER";
					vehicle="I_Soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14622.428,17.91,16763.73};
					azimut=141.14101;
					id=22;
					side="GUER";
					vehicle="I_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14623.514,17.91,16764.74};
					azimut=137.838;
					id=23;
					side="GUER";
					vehicle="I_Soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item9
		{
			side="GUER";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14620.385,17.91,16763.793};
					azimut=143.119;
					special="NONE";
					id=24;
					side="GUER";
					vehicle="I_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14623.335,17.91,16766.793};
					azimut=138.222;
					special="NONE";
					id=25;
					side="GUER";
					vehicle="I_Soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14621.359,17.91,16764.828};
					azimut=141.14101;
					special="NONE";
					id=26;
					side="GUER";
					vehicle="I_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14622.445,17.91,16765.838};
					azimut=137.838;
					special="NONE";
					id=27;
					side="GUER";
					vehicle="I_Soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item10
		{
			side="CIV";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14625.351,17.91,16766.652};
					azimut=143.119;
					special="NONE";
					id=28;
					side="CIV";
					vehicle="C_man_polo_2_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14626.216,17.91,16767.404};
					azimut=143.119;
					special="NONE";
					id=29;
					side="CIV";
					vehicle="C_man_polo_3_F";
					player="PLAY CDG";
					rank="SERGEANT";
					skill=0.5;
				};
				class Item2
				{
					position[]={14627.053,17.91,16768.184};
					azimut=143.119;
					special="NONE";
					id=30;
					side="CIV";
					vehicle="C_man_polo_4_F";
					player="PLAY CDG";
					rank="SERGEANT";
					skill=0.5;
				};
				class Item3
				{
					position[]={14627.891,17.91,16768.963};
					azimut=143.119;
					special="NONE";
					id=31;
					side="CIV";
					vehicle="C_man_polo_5_F";
					player="PLAY CDG";
					rank="SERGEANT";
					skill=0.5;
				};
			};
		};
		class Item11
		{
			side="CIV";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14624.312,17.91,16767.807};
					azimut=143.119;
					special="NONE";
					id=32;
					side="CIV";
					vehicle="C_man_polo_2_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14625.177,17.91,16768.559};
					azimut=143.119;
					special="NONE";
					id=33;
					side="CIV";
					vehicle="C_man_polo_3_F";
					player="PLAY CDG";
					rank="SERGEANT";
					skill=0.5;
				};
				class Item2
				{
					position[]={14626.014,17.91,16769.338};
					azimut=143.119;
					special="NONE";
					id=34;
					side="CIV";
					vehicle="C_man_polo_4_F";
					player="PLAY CDG";
					rank="SERGEANT";
					skill=0.5;
				};
				class Item3
				{
					position[]={14626.852,17.91,16770.117};
					azimut=143.119;
					special="NONE";
					id=35;
					side="CIV";
					vehicle="C_man_polo_5_F";
					player="PLAY CDG";
					rank="SERGEANT";
					skill=0.5;
				};
			};
		};
		class Item12
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14341.972,16.426931,16545.498};
					id=36;
					side="LOGIC";
					vehicle="HeadlessClient_F";
					player="PLAY CDG";
					leader=1;
					skill=0.60000002;
					text="HC2";
					syncId=0;
				};
			};
		};
		class Item13
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14353.876,16.895418,16531.59};
					id=37;
					side="LOGIC";
					vehicle="HeadlessClient_F";
					player="PLAY CDG";
					leader=1;
					skill=0.60000002;
					text="HC3";
					syncId=1;
				};
			};
		};
		class Item14
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14323.696,16.365515,16532.404};
					id=38;
					side="LOGIC";
					vehicle="HeadlessClient_F";
					player="PLAY CDG";
					leader=1;
					skill=0.60000002;
					text="HC1";
					syncId=2;
				};
			};
		};
		class Item15
		{
			side="WEST";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14674.963,17.91,16746.816};
					id=40;
					side="WEST";
					vehicle="b_survivor_F";
					leader=1;
					skill=0.60000002;
					text="worker1";
				};
			};
		};
		class Item16
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14621.851,17.91,16758.676};
					class args
					{
						items=4;
						class Item0
						{
							value="test_1";
							parentCls="ModuleCurator_F";
							typeName="Owner";
						};
						class Item1
						{
							value="";
							parentCls="ModuleCurator_F";
							typeName="Name";
						};
						class Item2
						{
							value="3";
							parentCls="ModuleCurator_F";
							typeName="Addons";
						};
						class Item3
						{
							value="0";
							parentCls="ModuleCurator_F";
							typeName="Forced";
						};
					};
					id=41;
					side="LOGIC";
					vehicle="ModuleCurator_F";
					leader=1;
					lock="UNLOCKED";
					skill=0.60000002;
				};
			};
		};
		class Item17
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14620.938,17.91,16759.588};
					class args
					{
						items=4;
						class Item0
						{
							value="test_2";
							parentCls="ModuleCurator_F";
							typeName="Owner";
						};
						class Item1
						{
							value="";
							parentCls="ModuleCurator_F";
							typeName="Name";
						};
						class Item2
						{
							value="0";
							parentCls="ModuleCurator_F";
							typeName="Addons";
						};
						class Item3
						{
							value="0";
							parentCls="ModuleCurator_F";
							typeName="Forced";
						};
					};
					id=42;
					side="LOGIC";
					vehicle="ModuleCurator_F";
					leader=1;
					lock="UNLOCKED";
					skill=0.60000002;
				};
			};
		};
	};
	class Vehicles
	{
		items=18;
		class Item0
		{
			position[]={14617.442,17.91,16767.92};
			azimut=-45.924747;
			id=43;
			side="EMPTY";
			vehicle="Land_CampingChair_V1_F";
			skill=0.60000002;
		};
		class Item1
		{
			position[]={14618.25,17.91,16768.781};
			azimut=-406.07599;
			id=44;
			side="EMPTY";
			vehicle="Land_CampingChair_V1_F";
			skill=0.60000002;
		};
		class Item2
		{
			position[]={14619.866,17.91,16770.49};
			azimut=-405.68677;
			id=45;
			side="EMPTY";
			vehicle="Land_CampingChair_V1_F";
			skill=0.60000002;
		};
		class Item3
		{
			position[]={14619.061,17.91,16769.65};
			azimut=-404.36218;
			id=46;
			side="EMPTY";
			vehicle="Land_CampingChair_V1_F";
			skill=0.60000002;
		};
		class Item4
		{
			position[]={14711.072,17.91,16767.957};
			azimut=403.5563;
			special="NONE";
			id=47;
			side="EMPTY";
			vehicle="B_Plane_CAS_01_F";
			skill=0.5;
		};
		class Item5
		{
			position[]={14593.188,17.91,16733.904};
			azimut=137.05931;
			special="NONE";
			id=48;
			side="EMPTY";
			vehicle="B_Heli_Light_01_armed_F";
			skill=0.5;
		};
		class Item6
		{
			position[]={14623.445,17.91,16700.193};
			azimut=135.64377;
			special="NONE";
			id=49;
			side="EMPTY";
			vehicle="B_Heli_Transport_01_F";
			skill=0.5;
		};
		class Item7
		{
			position[]={14725.066,17.91,16758.27};
			azimut=45.348866;
			special="NONE";
			id=50;
			side="EMPTY";
			vehicle="O_Plane_CAS_02_F";
			skill=0.5;
		};
		class Item8
		{
			position[]={14733.325,17.91,16747.01};
			azimut=44.693611;
			special="NONE";
			id=51;
			side="EMPTY";
			vehicle="I_Plane_Fighter_03_CAS_F";
			skill=0.5;
		};
		class Item9
		{
			position[]={14601.65,17.91,16741.336};
			azimut=137.05931;
			special="NONE";
			id=52;
			side="EMPTY";
			vehicle="B_Heli_Light_01_armed_F";
			skill=0.5;
		};
		class Item10
		{
			position[]={14601.995,17.91,16725.439};
			azimut=137.05931;
			special="NONE";
			id=53;
			side="EMPTY";
			vehicle="B_Heli_Light_01_armed_F";
			skill=0.5;
		};
		class Item11
		{
			position[]={14609.446,17.91,16732.76};
			azimut=137.05931;
			special="NONE";
			id=54;
			side="EMPTY";
			vehicle="B_Heli_Light_01_armed_F";
			skill=0.5;
		};
		class Item12
		{
			position[]={14634.745,17.91,16712.318};
			azimut=135.71013;
			special="NONE";
			id=55;
			side="EMPTY";
			vehicle="I_Heli_light_03_F";
			skill=0.5;
		};
		class Item13
		{
			position[]={14647.011,17.91,16723.527};
			azimut=135.3868;
			special="NONE";
			id=56;
			side="EMPTY";
			vehicle="O_Heli_Light_02_v2_F";
			skill=0.5;
		};
		class Item14
		{
			position[]={14614.618,17.91,16719.984};
			azimut=141.24481;
			special="NONE";
			id=57;
			side="EMPTY";
			vehicle="C_Heli_Light_01_civil_F";
			skill=0.5;
		};
		class Item15
		{
			position[]={14638.962,17.91,16780.09};
			azimut=136.14163;
			special="NONE";
			id=58;
			side="EMPTY";
			vehicle="B_Truck_01_covered_F";
			skill=0.5;
		};
		class Item16
		{
			position[]={14644.231,17.91,16782.676};
			azimut=496.79727;
			special="NONE";
			id=59;
			side="EMPTY";
			vehicle="I_Truck_02_covered_F";
			skill=0.5;
		};
		class Item17
		{
			position[]={14647.299,17.91,16787.76};
			azimut=136.91591;
			special="NONE";
			id=60;
			side="EMPTY";
			vehicle="O_Truck_03_covered_F";
			skill=0.5;
		};
	};
};
class Intro
{
	addOns[]=
	{
		"a3_map_altis"
	};
	addOnsAuto[]=
	{
		"a3_map_altis"
	};
	randomSeed=1656615;
	class Intel
	{
		timeOfChanges=1800.0002;
		startWeather=0.30000001;
		startWind=0.1;
		startWaves=0.1;
		forecastWeather=0.30000001;
		forecastWind=0.1;
		forecastWaves=0.1;
		forecastLightnings=0.1;
		year=2035;
		month=6;
		day=24;
		hour=12;
		minute=0;
		startFogBase=0.001;
		forecastFogBase=0.001;
		startFogDecay=0.0049999999;
		forecastFogDecay=0.0049999999;
	};
};
class OutroWin
{
	addOns[]=
	{
		"a3_map_altis"
	};
	addOnsAuto[]=
	{
		"a3_map_altis"
	};
	randomSeed=5448319;
	class Intel
	{
		timeOfChanges=1800.0002;
		startWeather=0.30000001;
		startWind=0.1;
		startWaves=0.1;
		forecastWeather=0.30000001;
		forecastWind=0.1;
		forecastWaves=0.1;
		forecastLightnings=0.1;
		year=2035;
		month=6;
		day=24;
		hour=12;
		minute=0;
		startFogBase=0.001;
		forecastFogBase=0.001;
		startFogDecay=0.0049999999;
		forecastFogDecay=0.0049999999;
	};
};
class OutroLoose
{
	addOns[]=
	{
		"a3_map_altis"
	};
	addOnsAuto[]=
	{
		"a3_map_altis"
	};
	randomSeed=7053861;
	class Intel
	{
		timeOfChanges=1800.0002;
		startWeather=0.30000001;
		startWind=0.1;
		startWaves=0.1;
		forecastWeather=0.30000001;
		forecastWind=0.1;
		forecastWaves=0.1;
		forecastLightnings=0.1;
		year=2035;
		month=6;
		day=24;
		hour=12;
		minute=0;
		startFogBase=0.001;
		forecastFogBase=0.001;
		startFogDecay=0.0049999999;
		forecastFogDecay=0.0049999999;
	};
};
