version=12;
class Mission
{
	addOns[]=
	{
		"A3_Data_F_Curator_Virtual",
		"A3_Modules_F_Curator_Curator",
		"A3_Characters_F_BLUFOR",
		"a3_characters_f",
		"a3_map_altis",
		"A3_Structures_F_Civ_Camping"
	};
	addOnsAuto[]=
	{
		"A3_Data_F_Curator_Virtual",
		"A3_Modules_F_Curator_Curator",
		"A3_Characters_F_BLUFOR",
		"a3_characters_f",
		"A3_Structures_F_Civ_Camping",
		"a3_map_altis"
	};
	randomSeed=12066260;
	class Intel
	{
		briefingName="[qip] Mission Template";
		overviewText="by NemesisRE";
		startWeather=0.099999994;
		startWind=0.099999994;
		startWaves=0.099999994;
		forecastWeather=0.099999994;
		forecastFog=0.19999999;
		forecastWind=0.099999994;
		forecastWaves=0.099999994;
		forecastLightnings=0.099999994;
		year=2035;
		month=7;
		hour=12;
		minute=0;
		startFogBase=0.001;
		forecastFogBase=0.001;
		startFogDecay=0.0049999999;
		forecastFogDecay=0.0049999999;
	};
	class Groups
	{
		items=10;
		class Item0
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14631.122,17.91,16758.402};
					azimut=310.45801;
					special="NONE";
					id=0;
					side="LOGIC";
					vehicle="VirtualCurator_F";
					player="PLAY CDG";
					leader=1;
					skill=1;
					text="Zeus1";
					description="Zeus 1";
				};
			};
		};
		class Item1
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14632.088,17.91,16759.445};
					azimut=320;
					special="NONE";
					id=1;
					side="LOGIC";
					vehicle="VirtualCurator_F";
					player="PLAY CDG";
					leader=1;
					skill=1;
					text="Zeus2";
					description="Zeus 2";
				};
			};
		};
		class Item2
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14633.104,17.91,16760.387};
					class args
					{
						items=4;
						class Item0
						{
							value="Zeus2";
							parentCls="ModuleCurator_F";
							typeName="Owner";
						};
						class Item1
						{
							value="";
							parentCls="ModuleCurator_F";
							typeName="Name";
						};
						class Item2
						{
							value="3";
							parentCls="ModuleCurator_F";
							typeName="Addons";
						};
						class Item3
						{
							value="1";
							parentCls="ModuleCurator_F";
							typeName="Forced";
						};
					};
					id=2;
					side="LOGIC";
					vehicle="ModuleCurator_F";
					leader=1;
					lock="UNLOCKED";
					skill=0.60000002;
				};
			};
		};
		class Item3
		{
			side="LOGIC";
			class Vehicles
			{
				items=1;
				class Item0
				{
					position[]={14630.191,17.91,16757.475};
					class args
					{
						items=4;
						class Item0
						{
							value="Zeus1";
							parentCls="ModuleCurator_F";
							typeName="Owner";
						};
						class Item1
						{
							value="";
							parentCls="ModuleCurator_F";
							typeName="Name";
						};
						class Item2
						{
							value="3";
							parentCls="ModuleCurator_F";
							typeName="Addons";
						};
						class Item3
						{
							value="1";
							parentCls="ModuleCurator_F";
							typeName="Forced";
						};
					};
					id=3;
					side="LOGIC";
					vehicle="ModuleCurator_F";
					leader=1;
					lock="UNLOCKED";
					skill=0.60000002;
				};
			};
		};
		class Item4
		{
			side="WEST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14623.709,17.91,16760.631};
					azimut=140.242;
					id=4;
					side="WEST";
					vehicle="B_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14626.328,17.91,16763.52};
					azimut=137.45799;
					id=5;
					side="WEST";
					vehicle="B_soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14624.585,17.91,16761.588};
					azimut=134.698;
					id=6;
					side="WEST";
					vehicle="B_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14625.444,17.91,16762.633};
					azimut=-219.041;
					id=7;
					side="WEST";
					vehicle="B_soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item5
		{
			side="WEST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14622.749,17.91,16761.559};
					azimut=140.242;
					id=8;
					side="WEST";
					vehicle="B_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14625.368,17.91,16764.447};
					azimut=137.45799;
					id=9;
					side="WEST";
					vehicle="B_soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14623.625,17.91,16762.516};
					azimut=134.698;
					id=10;
					side="WEST";
					vehicle="B_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14624.484,17.91,16763.561};
					azimut=-219.041;
					id=11;
					side="WEST";
					vehicle="B_soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item6
		{
			side="WEST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14626.327,17.91,16765.521};
					azimut=140.242;
					id=12;
					side="WEST";
					vehicle="B_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14628.946,17.91,16768.41};
					azimut=137.45799;
					id=13;
					side="WEST";
					vehicle="B_soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14627.203,17.91,16766.479};
					azimut=134.698;
					id=14;
					side="WEST";
					vehicle="B_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14628.063,17.91,16767.523};
					azimut=-219.041;
					id=15;
					side="WEST";
					vehicle="B_soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item7
		{
			side="WEST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14627.347,17.91,16764.676};
					azimut=140.242;
					id=16;
					side="WEST";
					vehicle="B_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14629.966,17.91,16767.564};
					azimut=137.45799;
					id=17;
					side="WEST";
					vehicle="B_soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14628.223,17.91,16765.633};
					azimut=134.698;
					id=18;
					side="WEST";
					vehicle="B_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14629.082,17.91,16766.678};
					azimut=-219.041;
					id=19;
					side="WEST";
					vehicle="B_soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item8
		{
			side="WEST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14619.17,17.91,16757.514};
					azimut=140.242;
					id=20;
					side="WEST";
					vehicle="B_Soldier_TL_F";
					player="PLAY CDG";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14621.993,17.91,16760.465};
					azimut=137.45799;
					id=21;
					side="WEST";
					vehicle="B_soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14621.109,17.91,16759.578};
					azimut=-219.041;
					id=22;
					side="WEST";
					vehicle="B_soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14620.25,17.91,16758.533};
					azimut=134.698;
					id=23;
					side="WEST";
					vehicle="B_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
		class Item9
		{
			side="WEST";
			class Vehicles
			{
				items=4;
				class Item0
				{
					position[]={14620.187,17.91,16756.559};
					azimut=140.242;
					id=24;
					side="WEST";
					vehicle="B_Soldier_TL_F";
					player="PLAYER COMMANDER";
					leader=1;
					rank="SERGEANT";
					skill=0.5;
				};
				class Item1
				{
					position[]={14622.834,17.91,16759.535};
					azimut=137.45799;
					id=25;
					side="WEST";
					vehicle="B_soldier_AR_F";
					player="PLAY CDG";
					rank="CORPORAL";
					skill=0.44999999;
				};
				class Item2
				{
					position[]={14621.95,17.91,16758.648};
					azimut=-219.041;
					id=26;
					side="WEST";
					vehicle="B_soldier_LAT_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
				class Item3
				{
					position[]={14621.091,17.91,16757.604};
					azimut=134.698;
					id=27;
					side="WEST";
					vehicle="B_medic_F";
					player="PLAY CDG";
					skill=0.40000001;
				};
			};
		};
	};
	class Vehicles
	{
		items=1;
		class Item0
		{
			position[]={14638.021,17.91,16769.303};
			id=28;
			side="EMPTY";
			vehicle="Land_CampingChair_V1_F";
			skill=0.60000002;
		};
	};
};
class Intro
{
	addOns[]=
	{
		"a3_map_altis"
	};
	addOnsAuto[]=
	{
		"a3_map_altis"
	};
	randomSeed=1656615;
	class Intel
	{
		timeOfChanges=1800.0002;
		startWeather=0.30000001;
		startWind=0.1;
		startWaves=0.1;
		forecastWeather=0.30000001;
		forecastWind=0.1;
		forecastWaves=0.1;
		forecastLightnings=0.1;
		year=2035;
		month=6;
		day=24;
		hour=12;
		minute=0;
		startFogBase=0.001;
		forecastFogBase=0.001;
		startFogDecay=0.0049999999;
		forecastFogDecay=0.0049999999;
	};
};
class OutroWin
{
	addOns[]=
	{
		"a3_map_altis"
	};
	addOnsAuto[]=
	{
		"a3_map_altis"
	};
	randomSeed=5448319;
	class Intel
	{
		timeOfChanges=1800.0002;
		startWeather=0.30000001;
		startWind=0.1;
		startWaves=0.1;
		forecastWeather=0.30000001;
		forecastWind=0.1;
		forecastWaves=0.1;
		forecastLightnings=0.1;
		year=2035;
		month=6;
		day=24;
		hour=12;
		minute=0;
		startFogBase=0.001;
		forecastFogBase=0.001;
		startFogDecay=0.0049999999;
		forecastFogDecay=0.0049999999;
	};
};
class OutroLoose
{
	addOns[]=
	{
		"a3_map_altis"
	};
	addOnsAuto[]=
	{
		"a3_map_altis"
	};
	randomSeed=7053861;
	class Intel
	{
		timeOfChanges=1800.0002;
		startWeather=0.30000001;
		startWind=0.1;
		startWaves=0.1;
		forecastWeather=0.30000001;
		forecastWind=0.1;
		forecastWaves=0.1;
		forecastLightnings=0.1;
		year=2035;
		month=6;
		day=24;
		hour=12;
		minute=0;
		startFogBase=0.001;
		forecastFogBase=0.001;
		startFogDecay=0.0049999999;
		forecastFogDecay=0.0049999999;
	};
};
